[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_SITE_URL = "https://kylecervantes.dev"
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"